.body,
html {
  width: 100%;
  height: 100%;
  font-weight: 700;
  color: gold;
  background-color: #000;
  overflow: hidden;
}
.center {
  text-align: center;
}
.startext {
  position: absolute;
  bottom: 0;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  animation: scroll 30s linear 1s infinite;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
}
.startext::after {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
