.head {
  display: flex;
  height: 61px;
  width: 1028px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
  justify-content: space-between;
}
.logo_name {
  height: 61px;
  width: 180px;
}
.logo_name:hover {
  height: 61px;
  width: 180px;
  filter: sepia(1) hue-rotate(300deg) saturate(200);
}
.name1 {
  text-decoration: none;
  color: #ffffff;
  font-family: roboto;
  text-transform: uppercase;
  margin: 0px;
  font-size: 29px;
  padding-left: 8px;
}
.name2 {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: roboto;
  margin: 0px;
  font-size: 18px;
  padding-left: 8px;
}
.logo_link {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: #ffffff;
}
.contacts_font {
  font-family: roboto;
  color: #ffffff;
  font-size: 18px;
}
.contacts_font:hover {
  font-family: roboto;
  color: #ffffff;
  font-size: 18px;
  filter: sepia(1) hue-rotate(300deg) saturate(200);
}
.tours {
  display: flex;
  list-style: none;
  width: 1030px;
  height: 560px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 0pt;
}
.tour_contrnt {
  text-align: center;
  width: 300px;
  height: 298px;
}
.tour_name {
  font-family: roboto;
  color: #ffffff;
  font-size: 18px;
}
.tour_name:hover {
  font-family: roboto;
  color: #f26522;
  font-size: 18px;
}
.photo {
  display: inline-block;
  position: relative;
}
.deteils {
  display: flex;
  position: absolute;
  opacity: 0;
  left: 0%;
  right: 0%;
  bottom: 0%;
  height: 55px;
  z-index: 1;
  background: #f26522;
  font-family: roboto;
  color: #ffffff;
}

.deteils:hover {
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  opacity: 1;
  left: 0%;
  right: 0%;
  bottom: 0%;
  height: 55px;
  z-index: 1;
  background: #f26522;
  font-family: roboto;
  font-size: 14px;
  color: #ffffff;
}
.from {
  font-size: 10px;
  margin-left: 16px;
  margin-top: 7px;
}
.price {
  font-size: 20px;
  margin-left: 16px;
  margin-top: 1px;
}
.view {
  font-size: 10px;
  margin-top: 24px;
  padding-right: 14px;
}
.footer {
  font-family: Roboto;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  margin-top: 59px;
  padding-bottom: 15px;
}
