body {
  background-color: rgb(88, 67, 67);
  background-repeat: no-repeat;
  background-size: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 58px;
  background-color: rgba(000, 000, 000, 0.4);
}
.logo {
  color: #ffffff;
  margin-left: 79px;
  text-transform: uppercase;
  font-family: ubuntu;
  font-size: 22px;
  font-weight: 700;
}
.logo:hover {
  color: rgba(60, 184, 120, 1);
  margin-left: 79px;
  text-transform: uppercase;
  font-family: ubuntu;
  font-size: 22px;
  font-weight: 700;
}
.contacts_conteiner {
  display: flex;
  align-items: center;
}
.contacts_item {
  margin-left: 25px;
}
.contacts_item:hover {
  margin-left: 25px;
  filter: sepia(1) hue-rotate(77deg) saturate(33);
}
.contacts {
  display: flex;
  padding-right: 25px;
  align-items: center;
}
.autorization {
  display: flex;
  padding-left: 27px;
  margin-right: 79px;
  font-family: ubuntu;
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  height: 19px;
  align-items: center;
  color: #ffffff;
}
.link {
  color: #ffffff;
}
.link:hover {
  color: rgba(60, 184, 120, 1);
}
.signup {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 31px;
  background-color: #ffffff;
  width: 444px;
}
.login_link {
  color: rgba(60, 184, 120, 1);
  font-size: 14px;
  font-family: ubuntu;
}
.login_link:hover {
  color: rgba(60, 184, 120, 1);
  font-size: 14px;
  font-family: ubuntu;
  text-decoration: underline;
}
.form_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 54px;
  padding-right: 61px;
  margin-bottom: ;
  width: 444px;
  background-color: #ffffff;
}
.form_signup {
  font-size: 20px;
  font-family: ubuntu;
}
.form_signup::before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  margin-right: 43px;
  background-color: rgba(60, 184, 120, 1);
}
.facebook {
  display: flex;
  align-items: center;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  border: 0px;
  background-color: rgba(48, 93, 184, 1);
}
.facebook:hover {
  display: flex;
  align-items: center;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  border: 0px;
  background-color: rgba(2, 34, 99, 1);
}
.Face {
  font-family: ubuntu;
  font-size: 24px;
  color: #ffffff;
  font-weight: 800;
  padding-left: 16px;
  padding-right: 19px;
  border-right: 1px solid rgba(10, 22, 47, 0.3);
}
.book {
  color: #ffffff;
  font-family: ubuntu;
  font-size: 16px;
  margin-left: 18px;
}
.google {
  display: flex;
  align-items: center;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  border: 0px;
  background-color: rgba(223, 74, 50, 1);
  margin-left: 4px;
  margin-bottom: 41px;
}
.google:hover {
  display: flex;
  align-items: center;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  border: 0px;
  background-color: rgba(171, 31, 9, 1);
  margin-left: 4px;
  margin-bottom: 41px;
}
.goo {
  font-family: ubuntu;
  font-size: 24px;
  color: #ffffff;
  font-weight: 800;
  padding-left: 12px;
  padding-right: 7px;
  border-right: 1px solid rgba(10, 22, 47, 0.3);
}
.gle {
  color: #ffffff;
  font-family: ubuntu;
  font-size: 16px;
  margin-left: 30px;
}
.line {
  height: 0px;
  width: 152px;
  color: rgba(242, 242, 242, 0.6);
}
.or {
  font-size: 14px;
  font-family: ubuntu;
  color: #848484;
  margin-left: 2px;
}
.or::before {
  display: inline-block;
  content: "";
  width: 150px;
  height: 4px;
  margin-right: 3px;
  border-top: 1px solid #848484;
}
.or::after {
  display: inline-block;
  content: "";
  width: 150px;
  height: 4px;
  margin-left: 3px;
  border-top: 1px solid #848484;
}
.input_list {
  list-style: none;
  padding: 0px;
}
.form-element {
  height: 44px;
  width: 324px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid rgba(190, 190, 190, 0.5);
  font-size: 14px;
  font-family: Ubuntu;
}
.form-checkbox {
  padding-left: 20px;
  margin-right: 11px;
  margin-bottom: 15px;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid rgba(190, 190, 190, 0.5);
  font-size: 14px;
  font-family: Ubuntu;
}
.checkbox_txt {
  display: inline-block;
  font-family: ubuntu;
}
.confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 324px;
  height: 46px;
  border-radius: 4px;
  border: 0px;
  background-color: rgba(60, 184, 120, 0.8);
  color: #ffffff;
  font-family: ubuntu;
  font-size: 16px;
  margin-bottom: 38px;
}
.confirm:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 324px;
  height: 46px;
  border-radius: 4px;
  border: 0px;
  background-color: rgba(1, 129, 63, 1);
  color: #ffffff;
  font-family: ubuntu;
  font-size: 16px;
  margin-bottom: 38px;
}
