.container {
  max-width: 1283px;
  margin-top: 63px;
  border: solid black;
  margin-left: auto;
  margin-right: auto;
}
.Ra {
  font-family: "Roboto", sans-serif;
  font-size: 79px;
  text-decoration: none;
  color: black;
}
.mda {
  font-family: "Roboto", sans-serif;
  font-size: 79px;
  text-decoration: none;
  color: #3181a6;
}
.nav {
  display: flex;
  height: 72px;
  background: #35444f;
  align-items: center;
  list-style: none;
  padding: 0%;
}
.nav_item {
  display: flex;
  font-family: "Roboto", sans-serif;
  height: 72px;
  width: 100%;
  align-items: center;
  font-size: 24px;
  border: solid white 1px;
  /* text-align: center; */
}
.nav_item_empty {
  display: block;
  height: 100%;
  width: 300px;
  border: solid white 1px;
  font-size: 24px;
}
.nav_link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.side_nav {
  font-family: "Roboto", sans-serif;
  width: 344px;
  height: 399px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  border: solid #000000 1px;
}
.side_nav_item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 44px;
}
.side_nav_link {
  display: block;
  color: black;
  text-decoration: none;
  height: 27px;
  font-size: 27px;
  margin-top: 36px;
  margin-bottom: 35px;
}
.main {
  margin: 0px 0px 0xp 0px;
  padding: 0px 0px 0px 0px;
  margin-top: 48px;
  display: flex;
}
.logo {
  display: flex;
  flex-direction: column;
  width: 885px;
  height: 529px;
  align-items: center;
  border: black 1px solid;
  margin-left: 52px;
  align-items: center;
  justify-content: center;
}
.logo_img {
  width: 320px;
  height: 381px;
}
.logo_text {
  width: 885px;

  border: red;
}
.main_text {
  margin-left: 52px;
  font-family: "Roboto", sans-serif;
}
.footer {
  display: flex;
  height: 69px;
  background: #63696e;
  align-items: center;
  list-style: none;
  padding: 0%;
}
.footer_item {
  display: flex;
  font-family: "Roboto", sans-serif;
  height: 69px;
  width: 100%;
  align-items: center;
  font-size: 28px;
  border: solid white 1px;
}
.footer_item {
  display: flex;
  font-family: "Roboto", sans-serif;
  height: 69px;
  w idth: 100%;
  align-items: center;
  font-size: 24px;
  border: solid white 1px;
}
.footer_link {
  display: block;
  text-decoration: none;
  color: #0c1927;
  margin-left: auto;
  margin-right: auto;
}
