.container {
  max-width: 1900px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  display: flex;
  margin: 0px 0px 0px 0px;
  height: 70px;
  background-color: #313131;
  align-items: center;
}
.logo {
  width: 27px;
  height: 27px;
  margin-left: 29px;
}
.name {
  text-decoration: none;
  color: #ffffff;
  font-family: Open Sans;
  padding-left: 27px;
  font-weight: 700;
  font-size: 22px;
}
.nav_list {
  height: 70px;
  display: flex;
  padding: 0px;
  width: 100%;
  justify-content: center;
  align-items: center;

  list-style: none;
}
.nav_item {
  display: block;

  padding-left: 35px;
}
.nav_link {
  text-decoration: none;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}
.nav_link:hover {
  text-decoration: none;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  color: #14b9d5;
}
.search {
  width: 68px;
  height: 70px;
  background-color: #000;
}
}
.banner {
  /* position: relative; */
  max-width: 100%;
}
.banner_slogan {
  position: absolute;
  top: 30%;
  left:27%;
  
  font-family: Open Sans;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}
.banner_buttons {
  display: flex;
  list-style: none;
  position: absolute;
  top: 40%;
  left: 32%;

}
.banner_button {
  display: flex;
width: 170px;
height: 55px;
background-color: #14B9D5;
margin-left: 20px;
justify-content: center;
align-items: center;
}
.banner_button:hover {
  display: flex;
width: 170px;
height: 55px;
background-color: #89CA62;
margin-left: 20px;
justify-content: center;
align-items: center;
}
.button_link {
  text-decoration: none;
  font-family: Open Sans;
  font-size: 18px;
  color: #FFFFFF;
  }
.background_section {
  background-color: #F2F2F2;
  width: auto;
  border: 0000 solid 5px;
}
  h2 {
    font-family: Open Sans;
    color: #14B9D5;
    text-align: center;
    background-color: #F2F2F2;
    margin: 0; 
    padding-top: 49px;
    padding-bottom: 52px;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    }
.content_section {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 52px; */
  margin-top: 0%;
  background-color: #F2F2F2;
  justify-content: center;
  align-items: flex-start;
  padding-right: 60px;
  }
.content_item {
  width: 370px;
  padding-left: 30px;
  padding-bottom: 32px;
   list-style: none;
}  
.content_description {
  background-color: #ffffff;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0%;
  text-align: center;
  color: #000;
  font-family: Open Sans;
  font-weight: 700;
  }
  .banner_clients {
    position: absolute;
    top: 270%;
    left:35%;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .banner_line {
    position: absolute;
    top: 300%;
    left: 48%;
    width: 60px;
    height: 3px;
    border: 0;
    background-color: #18B4CF;
  }
  .list_clients {
    position: absolute;
    top: 320%;
    left: 11%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;

  }
  .client_link {
    padding-left: 58px;
  }
  .scroller {
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, auto);
  }
  .news_block {
    display: grid;
    grid-template-columns: repeat(2, min-content); 
    justify-content: center;
    list-style: none;
    text-decoration: none;
    }
    .news_item {
      display: grid;
      grid-auto-flow: row;
      border: #14B9D5 solid 2px;
    }
  .news_header {
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    }
.news_content {
  text-decoration: none;
}
  /* .news_link { */
    /* text-decoration: none; */
  /* } */