.conteiner {
  width: 1280px;
}
.nav__list {
  box-sizing: border-box;
  margin: 0%;
  width: 1280px;
  height: 78px;
  list-style: none;
  padding-top: 25px;
  padding-left: 330px;
}
.nav__item {
  display: inline;
  box-sizing: border-box;
  margin-left: 72px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.item__link {
  text-decoration: none;
  color: #ff0000;
}
h2 {
  text-transform: uppercase;
  box-sizing: border-box;
  width: 1280px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 10px;
}
p {
  text-align: center;
  margin-left: 67px;
  margin-right: 67px;
  margin-top: 28px;
}
.button {
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 191px;
  height: 51px;
  font-size: 12px;
  padding-top: 17px;
  text-align: center;
  margin-top: 84px;
  margin-left: 587px;
  color: #ffffff;
  text-decoration: none;
  background-color: #ff0000;
}
